<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Manage Outcoming Vehicle</strong>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>S.NO</th>
                                    <th>Parking Number</th>
                                    <th>Owner Name</th>
                                    <th>Vehicle Reg Number</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>1b</td>
                                <td>VIOREL</td>
                                <td>Nu are masina</td>
                                <td>
                                    <a href="">View</a> |
                                    <a href="" style="cursor:pointer" target="_blank">Print</a>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>12A</td>
                                <td>Madalin</td>
                                <td>BC97MRB</td>
                                <td>
                                    <a href="">View</a> |
                                    <a href="" style="cursor:pointer" target="_blank">Print</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--content -->