<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="/dashboard">Dashboard</a></li>
                            <li class="active">Admin Profile</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                </div> <!-- .card -->
            </div><!--/.col-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Admin </strong> Profile
                    </div>
                    <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Admin Name</label></div>
                                <div class="col-12 col-md-9"><input class=" form-control" id="adminname" name="adminname" type="text" value="Madalin"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="email-input" class=" form-control-label">User Name</label></div>
                                <div class="col-12 col-md-9"><input class=" form-control" id="username" name="username" type="text" value="Smecher" readonly='true'></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="password-input" class=" form-control-label">Contact Number</label></div>
                                <div class="col-12 col-md-9"> <input class="form-control " id="contactnumber" name="contactnumber" type="text" value="07noidoi si ale tale buze moi" required="true"></div>
                            </div>
                            <div class="row form-group">
                                <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">Email</label></div>
                                <div class="col-12 col-md-9"><input class="form-control " id="email" name="email" type="email" value="barosanu@valoare.aur" required="true" readonly='true'></div>
                            </div>

                            <p style="text-align: center;"> <button type="submit" class="btn btn-primary btn-sm" name="submit">Update</button></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->