<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="index.html">Dashboard</a></li>
                            <li class="active">Add parking zone</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="animated fadeIn">


        <div class="row">
            <div class="col-lg-6">
                <div class="card">


                </div> <!-- .card -->

            </div><!--/.col-->



            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Add </strong> parking zone
                    </div>
                    <div class="card-body card-block">
                        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                            <p style="font-size:16px; color:red" align="center">

                            </p>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Zone name</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="zoneName" name="zoneName" class="form-control" placeholder="Ex: Piata Romana" required="true"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="text-input" class=" form-control-label">Slots number</label></div>
                                <div class="col-12 col-md-9"><input type="text" id="slotsNumber" name="zoneName" class="form-control" placeholder="Ex: 20" required="true"></div>
                            </div>

                            <div class="row form-group">
                                <div class="col col-md-3"><label for="select" class=" form-control-label"></label></div>
                                <div class="col-12 col-md-9">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Small</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="zoneName" name="zoneName" class="form-control" placeholder="Ex: 10" required="true"></div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Electric</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="zoneName" name="zoneName" class="form-control" placeholder="Ex:5" required="true"></div>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">GPL</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="zoneName" name="zoneName" class="form-control" placeholder="Ex: 5" required="true"></div>
                                        </div>
                                    </div>
                                    </div>
                                </div>


                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Address</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="vehreno" name="vehreno" class="form-control" placeholder="Ex: Strada Academiei nr.14" required="true"></div>
                                </div>
                                



                                <p style="text-align: center;"> <button type="submit" class="btn btn-success btn-sm" name="submit" style="width:100px; font-size:16px;">Add</button></p>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->